<style>
    footer {
			background-color: grey;
			width: 100%;
			align-items: center;
			justify-content: center;
			display: flex;
			min-height: 10vh;
			margin-top: 30px;
		}
		.footer ul li {
			float: right;
			padding: 0 26px;
			color: wheat;
			list-style: none;
		}
		
</style>
<footer>
    <div class="container">
        <div class="footer">
            <ul>
                <li><strong>FB</strong></li>
                <li><strong>TW</strong></li>
                <li><strong>IG</strong></li>
            </ul>
        </div>
    </div>
</footer>
{% block content %}
{% endblock %}